.all_comments {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
}

.comment_submit {	
	/* background-color: rgb(100,200,100); */ /*background color of content*/
        background-color: #363;
	color: #FFF; /*text color of content*/
	font-size: 10px;
	font-weight: bold;
	border: 0px solid #000;
	padding: 2px;
        float: right;
}

.comment_submit a:link, .comment_submit a:visited,
.comment_login a:link,  .comment_login a:visited 
	{color: #FFF; text-decoration: none;}

.td_comment_name {
	padding-bottom: 5px;
}

.td_comment_anonymous {
	text-align: right;
}

.input_comment_checkbox {
	border: 0px solid rgb(200,200,200);
}

.td_blank_comment_website {
	padding-bottom: 5px; padding-right: 5px; color: green;
}

.td_comment_website {
	padding-bottom: 5px;
}

.comment_textarea {
	padding: 2px; border: 1px solid rgb(180,200,180); font-size: 11px; font-family: Verdana;
}

p.comment_heading {
	font-weight: bold; font-size: 12px;
}

.hr_comment {
	color: rgb(150,150,150); margin-bottom: 10px;
}

.date_comment {
	text-align: right; font-size: 10px; float: right; background-color: rgb(220,235,220); padding: 2px; margin-left: 4px;
}

.single_comment {
	margin-bottom: 10px; margin-top: 0px;
}

.reply_link {
    	margin-bottom: 0px; margin-top: 0px; display: inline;
}

.anonymous_comment_yes {
	background-color: rgb(240,240,240); 
	border: 1px solid rgb(200,200,200); 
	font-size: 11px; 
	font-family: Verdana; 
	padding: 2px;
}

.anonymous_comment_no {
	padding: 2px; 
	border: 1px solid rgb(180,200,180); 
	font-size: 11px; 
	font-family: Verdana;
}
 