
/*** YOUR BASIC 3-COLUMN LAYOUT ***/

body	{

	background: #8a8a8a url(http://twimgs.com/gamasutra/images/body_bg.jpg) repeat-x;

	margin-top: 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

		

}

h1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bolder;

	font-size: 16px;

	color: #000000;

	line-height: 1.3em;

	margin-top: 1.25em;

	margin-bottom: .75em;

}

h2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bolder;

	font-size: 14px;

	color: #000000;

	line-height: 1.3em;

	margin-top: 1.25em;

	margin-bottom: .75em;

}

h3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bolder;

	font-size: 12px;

	color: #000000;

	line-height: 1.3em;

	margin-top: 1.25em;

	margin-bottom: .75em;

}

a:link, a:visited, a:active {

	color: #336633;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	text-decoration: none;

}

a:hover {

	color: #660000;

}

.left {

	float: left;

}

	

#wrapper {

	position: relative;

	margin: 0px auto 0 auto;

	width: 1000px;

	text-align: left;

	z-index:0;

	padding: 0px;

	}

#header   {

	position: relative;

	width: 999px;

	padding-top: 0px;

	padding-bottom: 5px;

	}

#ad {

	width: 160px;

	float: right;

	margin-left: 5px;

	}

#hQuickLinks {

	background: #ffffff url(http://twimgs.com/gamasutra/images/wht_grad.gif) repeat-x bottom left;

	text-decoration: none;

	text-align: left;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	/*vertical-align: middle;*/

	color: #336633;

	padding-bottom: 0px;

	border-bottom-color: #FFFFFF;

	border-bottom-style: solid;

	border-bottom-width: 2px;

	}

#hQuickLinks span {

	color: #336633;

	text-decoration: none;

	}

#hQuickLinks a {

	margin: 0 5px;

	color: #336633;

	text-transform: uppercase;

	text-decoration: none;

	}

#hQuickLinks a.active {

	color: #336633;

	}

#hQuickLinks a:hover {

	color: #82BC7A;

	}



#hQuickLinks_topics {

	text-decoration: none;

	text-align: left;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	/*vertical-align: middle;*/

	color: #336633;

	padding-bottom: 0px;

	border-bottom-color: #FFFFFF;

	border-bottom-style: solid;

	border-bottom-width: 2px; 

	}





td#hQuickLinks_topics ul#topicmenu {margin:2px 0 0 2px; padding:0; list-style:none; height:33px;  }

td#hQuickLinks_topics ul#topicmenu a {height:25px; color:#fff;}

td#hQuickLinks_topics ul#topicmenu li {display:inline; float:left; position:relative; text-align:center; margin: 0 0px 0 0; padding: 0 2px 0 0; }

td#hQuickLinks_topics ul#topicmenu li a {padding:8px 0 0 0;}	

td#hQuickLinks_topics ul#topicmenu li#topicmenu_all a { background:  url(http://twimgs.com/gamasutra/images/btn_all0.png) ; width:60px; display:block; }

td#hQuickLinks_topics ul#topicmenu li#topicmenu_console a {background: url(http://twimgs.com/gamasutra/images/btn_console0.png) ;width:144px;   display:block;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_social a{background:  url(http://twimgs.com/gamasutra/images/btn_social0.png) ;width:159px;  display:block;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_smartphone a {background:  url(http://twimgs.com/gamasutra/images/btn_smartphone0.png) ;width:191px;  display:block;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_indie a {background:  url(http://twimgs.com/gamasutra/images/btn_indie0.png) ;width:144px; display:block; }

td#hQuickLinks_topics ul#topicmenu li#topicmenu_serious a {background:  url(http://twimgs.com/gamasutra/images/btn_serious0.png) ;width:117px; display:block; }



td#hQuickLinks_topics ul#topicmenu a:hover {color:#000; }

td#hQuickLinks_topics ul#topicmenu li#topicmenu_all a:hover { background:  url(http://twimgs.com/gamasutra/images/btn_all1.png);}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_console a:hover {background: url(http://twimgs.com/gamasutra/images/btn_console1.png) ;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_social a:hover{background:  url(http://twimgs.com/gamasutra/images/btn_social1.png) ; }

td#hQuickLinks_topics ul#topicmenu li#topicmenu_smartphone a:hover {background:  url(http://twimgs.com/gamasutra/images/btn_smartphone1.png) ;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_indie a:hover {background:  url(http://twimgs.com/gamasutra/images/btn_indie1.png) ; }

td#hQuickLinks_topics ul#topicmenu li#topicmenu_serious a:hover {background:  url(http://twimgs.com/gamasutra/images/btn_serious1.png) ;}	

	

td#hQuickLinks_topics ul#topicmenu li#topicmenu_all_selected a { background:  url(http://twimgs.com/gamasutra/images/btn_all2.png) ; width:60px; display:block; color:#000;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_console_selected a {background: url(http://twimgs.com/gamasutra/images/btn_console2.png) ;width:144px;   display:block; color:#000;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_social_selected a{background:  url(http://twimgs.com/gamasutra/images/btn_social2.png) ;width:159px;  display:block; color:#000;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_smartphone_selected a {background:  url(http://twimgs.com/gamasutra/images/btn_smartphone2.png) ;width:191px;  display:block; color:#000;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_indie_selected a {background:  url(http://twimgs.com/gamasutra/images/btn_indie2.png) ;width:144px; display:block; color:#000;}

td#hQuickLinks_topics ul#topicmenu li#topicmenu_serious_selected a {background:  url(http://twimgs.com/gamasutra/images/btn_serious2.png) ;width:117px; display:block; color:#000;}



#header_news {

        background: url(http://twimgs.com/gamasutra/images/hdr_background.jpg) repeat-x top left;

        width:650px;

        color: #22522A;

        font-family: Verdana,Arial,Helvetica,sans-serif;

        font-size: 21px;

	font-weight: bold;

	height: 41px;

        line-height: 41px;

        text-align: left;

        vertical-align: middle;

}

#header_news img {

        line-height: 41px;

        vertical-align: middle;

        float: left;

        padding-top: 8px;

        padding-left: 8px;

        padding-right: 8px;

}



#searchBox {

	background: #eeeeee url(http://twimgs.com/gamasutra/images/searchBG.gif) repeat-x;

	vertical-align: middle;

	}

.searchText {

	color: #FFFFFF;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	}

#content {

	background-color: #EEEEEE;

	width: 650px;

	}

#content_news {

	background-color: #fafafa;

	width: 650px;

	}

#content_feature {

	background-color: #fafafa;

	width: 650px;

	}

#leftNav {

	width: 177px;

	float: left;

	background-color: #EEEEEE;	

	}

#footer {

	font-size: 11px;

	color: #FFF;

	height: 40px;

	padding: 15px;

	clear: both;

	text-align: center;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	width: 804px;

	}

#footer a	{

	margin-right: 10px;

	color: #FFF;

	text-decoration: underline;

	}

#footer span {

	font-size: 10px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	}

#middleCol {

	width: 350px;

	text-align: left;

	z-index: 100;

	float: left;

	background-color: #EEEEEE;

	}

#rightCol	{

	width: 300px;

	float: right;

	background-color: #EEEEEE;

	}

#memberLogin {

	background: #82bc7a url(http://twimgs.com/gamasutra/images/grn_grad.gif) repeat-x;

	}



a.loginboxtext:link, a.loginboxtext:active, a.loginboxtext:visited {

	color: #009900;

}



.searchButton {

	color: #FFFFFF;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	padding-left: 3px;

	padding-right: 3px;

	padding-top: 3px;

	padding-bottom: 2px;

	text-decoration: none;

	display: inline;

	}

a.searchButton:link, a.searchButton:active, a.searchButton:visited {

	color: #FFFFFF;

	}

a.searchButton:hover {

	color: #660000;

	}

.featureWhiteText {

	color: #ffffff;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	padding: 10px;

	font-weight: normal;

	text-decoration: none;

	}

.FeaturesContent {

	background-color: #EEEEEE;

	color: #666666;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	}

.FeaturesContent a:link, .FeaturesContent a:active, .FeaturesContent a:visited {

	background-color: #EEEEEE;

	color: #336633;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	text-align: left;

	font-weight: bold;

	text-decoration: none;

	}

.FeaturesContent a:hover {

	background-color: #EEEEEE;

	color: #660000;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	text-align: left;

	font-weight: bold;

	text-decoration: none;

	}

input.login	{

	background-color: #EEEEEE;

	font-size: 10px;

	color: #000000;

	height: 15px;

	width: 90px;

	margin-bottom: 4px;

	border: none;

	}

input.search	{

	background-color: #EEEEEE;

	font-size: 10px;

	color: #000000;

	height: 15px;

	width: 86px;

	margin-top: 4px;

	margin-bottom: 4px;

	border: none;

	}

.MedGreenHeader {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	background-color: #82bc7a;

	color: #22522A;

	font-size: 12px;

	font-weight: bold;

	padding-left: 5px;

	}

.leftNavYellow {

	background-color: #FFFFCC;

	padding-top: 5px;

	padding-bottom: 5px;

	}

.leftNavGry {

	background-color: #cccccc;

	}

.whiteTop {

	border-top: 2px solid #ffffff;

	}

.leftNavButtons {

	/*background-color: #FFFFCC;*/

	color: #336633;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	padding: 4px;

	padding-left: 10px;

	font-weight: bold;

	text-decoration: none;

	line-height: 1.5;

	}

.leftNavButtons a:link, .leftNavButtons a:active, .leftNavButtons a:visited {

	color: #336633;	

	text-decoration: none;

	}	

.leftNavButtons a:hover {

	color: #660000;	

	}

.dot_line {

	background: url(http://twimgs.com/gamasutra/images/dots.gif) repeat-x center left;

	height: 8px;

	font-size: 1px;

	}

.dot_line_tall {

	background: url(http://twimgs.com/gamasutra/images/dots.gif) repeat-x center left;

	height: 16px;

	font-size: 1px;

	}

.leftNavCalendar {

	color: #000000;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	}

.leftNavCalendar a:link, .leftNavCalendar a:active, .leftNavCalendar a:visited {

	color: #336633;	

	font-weight: bold;

	text-decoration: none;

	}

.leftNavCalendar a:hover {

	color: #660000;	

	}

.leftNavJobs {

	color: #666666;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	line-height: 1.3;

	}

.leftNavJobs a:link, .leftNavJobs a:active, .leftNavJobs a:visited {

	color: #336633;	

	text-decoration: none;

	line-height: 1.3;

	}

.leftNavJobs a:hover {

	color: #660000;	

	}

.NewsContent {

	color: #666666;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	line-height: 1.5;

	}

.NewsContent a:link, .NewsContent a:active, .NewsContent a:visited {

	font-size: 12px;

	color: #336633;	

	font-weight: normal;

	text-decoration: none;

	}

.NewsContent a:hover {	

	color: #660000;	

	}





.IndexContractorContent {

	color: #666666;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	line-height: 1.5;

	}

.IndexContractorContent a:link {

	font-size: 10px;

	color: #336633;	

	font-weight: normal;

	text-decoration: none;

	}

.IndexContractorContent a:hover {	

	color: #660000;	

	}









.story_title a:link, .story_title a:active, .story_title a:visited  {

	font-size: 14px;

	font-weight: bold;

	line-height: 17px;	

}

.story_title {

	color: #336633;

	font-weight: bold;

}



.CompanyContent {

	color: #666666;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	line-height: 1.5;

	}

.CompanyContent a:link, .CompanyContent a:active, .CompanyContent a:visited {

	color: #336633;	

	font-weight: bold;

	text-decoration: none;

	}

.CompanyContent a:hover {

	color:#660000;	

	}

.leftNavProjects {

	color: #000000;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	}

.leftNavProjects a:link, .leftNavProjects a:active, .leftNavProjects a:visited {

	color: #336633;	

	text-decoration: none;

	}

.leftNavProjects a:hover {

	color: #660000;	

	}

.leftNavStore {

	color: #000000;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	}

.leftNavStore a:link, .leftNavStore a:active, .leftNavStore a:visited {

	color: #336633;	

	font-weight: bold;

	text-decoration: none;

	}

.leftNavStore a:hover {

	color: #660000;	

	}

.loginButton {

	color: #FFFFFF;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	padding: 2px;

	margin: 2px;

	text-decoration: none;

	text-align: left;

	display: inline;

	}

a.loginButton:link, a.loginButton:active, a.loginButton:visited {

	color: #FFFFFF;

	}

a.loginButton:hover {

	color: #660000;

	}

.SmRedText {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #660000;

	font-size: 10px;

	font-weight: bold;

	}

a.SmRedText:link, a.SmRedText:active, a.SmRedText:visited,

.SmRedText a:link, .SmRedText a:active, .SmRedText a:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #660000;

	font-size: 10px;

	font-weight: bold;

	text-decoration: none;

	}

a.SmRedText:hover,

.SmRedText a:hover {

	text-decoration: underline;

	}

.SmWhiteText {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #FFFFFF;

	font-size: 10px;

	font-weight: bold;

	}

a.SmWhiteText:link, a.SmWhiteText:active, a.SmWhiteText:visited,

.SmWhiteText a:link, .SmWhiteText a:active, .SmWhiteText a:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #FFFFFF;

	font-size: 10px;

	font-weight: bold;

	text-decoration: none;

	}

a.SmWhiteText:hover,

.SmWhiteText a:hover {

	text-decoration: underline;

	}

.thumbnailImage {

	padding-top: 5px;

	padding-left: 5px;

	padding-right: 10px;

	padding-bottom: 1px;

	float: left;

	border: 0px;

	}

.thumbnailImageRight {

	padding-top: 3px;

	padding-left: 10px;

	padding-right: 5px;

	padding-bottom: 5px;

	float: right;

	border: 0px;

	}

.whiteBorder {

	border: 1px solid #ffffff;

	line-height: 18px;	

	}

.cont_search {

	background: #989898 url(http://twimgs.com/gamasutra/images/grad_cont_search.gif) repeat-x bottom left;

	color: #ffffff;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

}

.nameSearch {

	padding: 15px;

}

.catSearch {

	padding: 15px;

}

input.search2	{

	background-color: #EEEEEE;

	font-size: 10px;

	color: #000000;

	height: 15px;

	width: 265px;

	margin-top: 8px;

	margin-bottom: 8px;

	border: none;

}

select.search2	{

	background-color: #EEEEEE;

	font-size: 10px;

	color: #000000;

	/*height: 15px;*/

	width: 265px;

	margin-top: 8px;

	margin-bottom: 8px;

	border: none;

}

.powerSearchButton {

	color: #660000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bolder;

	font-size: 9px;

	padding-left: 3px;

	padding-right: 3px;

	padding-top: 3px;

	padding-bottom: 2px;

	text-decoration: none;

	display: inline;

	}

a.powerSearchButton:link, a.powerSearchButton:active, a.powerSearchButton:visited {

	color: #660000;

	}

a.powerSearchButton:hover {

	color: #ffffff;

	}

td.contNavLinks {

	color: #336633;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bolder;

	text-align: center;

	padding: 2px;

}

.contNavLinks a:link,

.contNavLinks a:visited,

.contNavLinks a:active {

	color: #336633;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bolder;

	text-decoration: none;

}

.contNavLinks a:hover {

	color: #660000;

}

td.whtRow {

	font-size: 1px;

	height: 2px;

	background: #ffffff;

}

td.whtRow2 {

	font-size: 1px;

	height: 2px;

	background: #ffffff;

}

td.premCat {

	background: #81bc78;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 14px;

	letter-spacing: -0.05em;

	font-weight: bolder;

	color: #000000;

	padding-top: 2px;

	padding-bottom: 2px;

	padding-left: 10px;

	padding-right: 7px;	

}

div.viewAllButton {

	float: right;

	color: #660000;

	font-size: 9px;

	border: 1px solid #660000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	letter-spacing: 0em;

	margin-top: 1px;

	padding-right: 1px;

	padding-left: 1px;

}

div.viewAllButton a:link,

div.viewAllButton a:visited,

div.viewAllButton a:active {

	color: #660000;

	font-size: 9px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	text-decoration: none;

}

div.viewAllButton a:hover {

	color: #ffffff;

}

td.whtRow1 {

	font-size: 1px;

	height: 1px;

	background: #ffffff;

}

td.premListing {

	background: #82bc7a url(http://twimgs.com/gamasutra/images/grn_grad.gif) repeat-x;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	color: #000000;

	padding-top: 7px;

	padding-bottom: 7px;

	padding-left: 11px;

	padding-right: 7px;	

}

.contLogo {

	width: 120px;

	height: 60px;

	margin-right: 15px;

	float: left;

	border: none;

}

td.premListing a:link,

td.premListing a:visited,

td.premListing a:active {

	color: #660000;

	font-weight: bolder;

	text-decoration: underline;

}

td.premListing a:hover {

	color: #ffffff;

}

td.premListing a.header:link,

td.premListing a.header:visited,

td.premListing a.header:active {

	font-size: 11px;

	color: #ffffff;

	font-weight: bolder;

	text-decoration: none;

}

td.premListing a.header:hover {

	color: #660000;

}

td.featCat {

	background: #999999;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 14px;

	letter-spacing: -0.05em;

	font-weight: bolder;

	color: #000000;

	padding-top: 2px;

	padding-bottom: 2px;

	padding-left: 10px;

	padding-right: 7px;

}

td.featListing {

	background: #cccccc url(http://twimgs.com/gamasutra/images/grad_gry.gif) repeat-x;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	color: #000000;

	padding-top: 7px;

	padding-bottom: 7px;

	padding-left: 11px;

	padding-right: 7px;	

}

td.featListing a:link,

td.featListing a:visited,

td.featListing a:active {

	color: #660000;

	font-weight: bolder;

	text-decoration: underline;

}

td.featListing a:hover {

	color: #ffffff;

}

td.featListing a.header:link,

td.featListing a.header:visited,

td.featListing a.header:active {

	font-size: 11px;

	color: #ffffff;

	font-weight: bolder;

	text-decoration: none;

}

td.featListing a.header:hover {

	color: #660000;

}

.greenarrows, a.greenarrows:link, a.greenarrows:active, a.greenarrows:visited  {

	color: #336633;

	font-size: .9em;

	text-decoration: none;

}

a.greenarrows:hover {

	color: #660000;

}

td.pageNav {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #336633;

	font-weight: bolder;

}

td.pageNav a:link,

td.pageNav a:visited,

td.pageNav a:active {

	color: #336633;

	font-weight: bolder;

	text-decoration: underline;

}

td.pageNav a:hover {

	color: #660000;

}



span.pageNav {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #336633;

	font-weight: bolder;

}

span.pageNav a:link,

span.pageNav a:visited,

span.pageNav a:active {

	color: #336633;

	font-weight: bolder;

	text-decoration: underline;

}

span.pageNav a:hover {

	color: #660000;

}



td.newsNav {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #336633;

}

td.newsNav a:link,

td.newsNav a:visited,

td.newsNav a:active {

	color: #336633;

	text-decoration: none;

}

td.newsNav a:hover {

	color: #660000;

}

.newsTitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	letter-spacing: -0.05em;

	font-weight: bolder;

	font-size: 18px;

	color: #000000;

	line-height: 1.3em;

}

.newsAuth {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: normal;

	font-size: 14px;

	color: #666666;

	line-height: 1.3em;

}

.newsDate {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #000000;

	line-height: 1.3em;

}

.newsText {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #000000;

	line-height: 1.3em;

}

.newsText a:link, .newsText a:active, .newsText a:visited  {

	color: #336633;

	text-decoration: underline;

}

.newsText a:hover  {

	color: #660000;

}

.featureText {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #000000;

	line-height: 1.3em;

}

.featureText a:link, .featureText a:active, .featureText a:visited  {

	color: #336633;

	text-decoration: none;

}

.featureText a:hover  {

	color: #660000;

}

.imgBox {

	float: right;

	padding-left: 5px;

	position: relative;

	left: 10px;

}

.adBox {

	float: right;

	clear: right;

	padding-top: 20px;

	padding-bottom: 10px;

	padding-left: 10px;

	position: relative;

	left: 10px;

}

.articleNav {

	color: #000000;	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	text-align: left;

	font-weight: normal;

	text-decoration: none;

	/*line-height: 1.3;*/

}

td.articleNav {

	padding-top: 2px;

	padding-bottom: 2px;

}

a.articleNav:link, a.articleNav:active, a.articleNav:visited {

	color: #336633;	

	text-decoration: none;

	/*line-height: 1.3;*/

}

a.articleNav:hover {

	color: #660000;	

}

ul.relatedNews {

	list-style-image: url("http://twimgs.com/gamasutra/images/gray_arrow2.gif");

	position: relative;

	left: -15px;

} 

ul.relatedNews li {

	font-size: 11px;

}

ul.relatedNews li a:link,

ul.relatedNews li a:active,

ul.relatedNews li a:visited	{

	color: #336633;

	text-decoration: underline;

}

ul.relatedNews li a:hover	{

	color: #660000;

}

ul.relatedNews li.header {

	list-style-image: none;

	list-style-type: none;

	position: relative;

	left:-15px;

	font-size: 12px;

	font-weight: bolder;

}

td.contractor_profile_item_description {

	font-weight: bold; 

	

	

	width: 150px;

}

td.sectionTitle h1 {

	text-align: center;

	margin-top: 0px;

	margin-bottom: 0px;

	padding-top: 5px;

	padding-bottom: 5px;

	background: #CCCCCC url(http://twimgs.com/gamasutra/images/grad_gry.gif) repeat-x;

	color: #000000;

	border-bottom: #ffffff solid 1px;

}

td.sectionTitle2 {

	margin-top: 0px;

	margin-bottom: 0px;

	padding-top: 0px;

	padding-bottom: 0px;

	font-size: 16px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bolder;

	font-size: 16px;

	color: #000000;

	line-height: 1.2em;

}

td.mainSections {

	padding: 5px;

	background-color: #cccccc;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #000000;

	font-size: 11px;

	font-weight: bolder;

}

td.mainSections p{

	margin-top: 3px;

	margin-bottom: 3px;

	padding-top: 0px;

	padding-bottom: 0px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #000000;

	font-size: 11px;

	font-weight: bolder;

	line-height: 1.5em;

}

td.mainSections p.subSections{

	padding-left: 10px;

}

td.mainSections a:link,

td.mainSections a:active,

td.mainSections a:visited {

	color: #336633;

	text-decoration: none;

}

td.mainSections a:hover {

	color: #660000;

}



.category_link a:link,

.category_link a:active,

.category_link a:visited {

	color: black;	

}

input.search3	{

	background-color: #EEEEEE;

	font-size: 10px;

	color: #000000;

	height: 13px;

	width: 150px;

	margin-top: 0;

	margin-bottom: 0;

	border: none;

}

.newsletterSignupButton {

	color: #660000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-weight: bolder;

	font-size: 9px;

	padding: 0px;

	text-decoration: none;

	display: inline;

	margin-top: 0px;

	margin-bottom: 0px;

}

a.newsletterSignupButton:link, a.newsletterSignupButton:active, a.newsletterSignupButton:visited {

	color: #660000;

}

a.newsletterSignupButton:hover {

	color: #ffffff;

}

table#jobBoardTabs {

	margin-top: 3px;

}

#jobBoardTabs td.tab_active {

	background: #eeeeee url(http://twimgs.com/gamasutra/images/tab_jobs_active.gif) no-repeat top center;

	text-align: center;

}

#jobBoardTabs td.tab_active a:link,

#jobBoardTabs td.tab_active a:visited,

#jobBoardTabs td.tab_active a:active {

	color: #ffffff;

	font-weight: bolder;

	text-decoration: none;

}

#jobBoardTabs td.tab_active a:hover {

	text-decoration: underline;

}

#jobBoardTabs td.tab_bkg {

	background: #eeeeee url(http://twimgs.com/gamasutra/images/tab_jobs_inactive.gif) no-repeat top center;

	text-align: center;

}

#jobBoardTabs td.tab_bkg a:link,

#jobBoardTabs td.tab_bkg a:visited,

#jobBoardTabs td.tab_bkg a:active {

	color: #660000;

	font-weight: bolder;

	text-decoration: none;

}

#jobBoardTabs td.tab_bkg a:hover {

	text-decoration: underline;

}

#jobBoardTabs td.tab_content {

	background: #7fba7a url(http://twimgs.com/gamasutra/images/grn_grad_tall.gif) repeat-x top left;

	color: #ffffff;

	font-size: 9px;	

}

#jobBoardTabsSearch {

	float: left;

	/*width: 170px;*/

	width: 125px;

	padding-top: 10px;

	padding-left: 5px;

	color: #ffffff;

	/*border: #ffffff solid 1px;*/

}

#jobBoardTabsSearch a:link,

#jobBoardTabsSearch a:active,

#jobBoardTabsSearch a:visited {

	color: #ffffff;

	text-decoration: underline;

	font-size: 9px;

}

#jobBoardTabsSearch a:hover {

	color: #660000;

}

input.search4	{

	background-color: #EEEEEE;

	font-size: 10px;

	color: #000000;

	height: 13px;

	/*width: 168px;*/

	width: 125px;

	margin-top: 3px;

	margin-bottom: 3px;

	border: none;

}

#jobBoardTabsSearch #searchBox,

#jobBoardTabsSearch #searchBox a:link,

#jobBoardTabsSearch #searchBox a:active,

#jobBoardTabsSearch #searchBox a:visited {

	background: none;

	float: left;

	width: 50px;

	text-align: center;

	color: #ffffff;

	text-decoration: none;

	font-weight: bolder;

}

#jobBoardTabsSearch #searchBox a:hover {

	text-decoration: underline;

}

#jobBoardTabsSearch #advSearchBox,

#jobBoardTabsSearch #advSearchBox a:link,

#jobBoardTabsSearch #advSearchBox a:active,

#jobBoardTabsSearch #advSearchBox a:visited {

	float: right;

	/*width: 110px;*/

	width: 65px;

	text-align: center;

	color: #660000;

	text-decoration: none;

	font-weight: bolder;

}

#jobBoardTabsSearch #advSearchBox a:hover {

	text-decoration: underline;

}

#jobBoardTabsSearch a:link,

#jobBoardTabsSearch a:active,

#jobBoardTabsSearch a:visited {

	text-decoration: underline;

}

#jobBoardTabsLinks {

	float: right;

	width: 510px;

	padding-top: 5px;

	/*font-size: 9px;*/

	font-size: 10px;

	padding-left: 0px;

	margin-left: 0px;

	/*border: #ffffff solid 1px;*/

}

#jobBoardTabsLinks td a:link,

#jobBoardTabsLinks td a:active,

#jobBoardTabsLinks td a:visited {

	/*font-size: 8px;*/

	color: #ffffff;

	text-decoration: underline;

}

#jobBoardTabsLinks td a:hover {

	color: #660000;

}

.jobDate {

	color: #336633;

	font-size: 14px;

}

table#jobListingFull {

	margin-bottom: 15px;

	width: 650px;

	border: #22522a solid 1px;

}

table#jobListingFull td.company {

	padding-left: 5px;

	padding-top: 2px;

	padding-bottom: 2px;

	color: #22522a;

	font-size: 14px;

	font-weight: bolder;

	background: #82bc7a;

	width: 650px;

}

table#jobListingFull td.jobTitle {

	padding-left: 5px;

	padding-top: 2px;

	padding-bottom: 2px;

	color: #660000;

	font-size: 11px;

	font-weight: normal;

	background: #cccccc;

	border-top: #22522a solid 1px;

	border-bottom: #22522a solid 1px;

	width: 650px;

}

table#jobListingFull td.jobDesc {

	padding-left: 15px;

	padding-top: 15px;

	padding-bottom: 15px;

	padding-right: 10px;

	color: #000000;

	font-size: 11px;

	font-weight: normal;

	background: #cccccc;

	width: 440px;

}

table#jobListingFull td.jobLogo {

	padding-top: 15px;

	padding-bottom: 15px;

	padding-right: 10px;

	background: #cccccc;

	width: 210px;

}

table#jobListingFull td.jobTitle a:link,

table#jobListingFull td.jobTitle a:active,

table#jobListingFull td.jobTitle a:visited,

table#jobListingFull td.jobDesc a:link,

table#jobListingFull td.jobDesc a:active,

table#jobListingFull td.jobDesc a:visited {

	color: #660000;

	text-decoration: none;

}

table#jobListingFull td.jobTitle a:hover,

table#jobListingFull td.jobDesc a:hover {

	text-decoration: underline;

}

table#jobListingTitleOnly {

	margin-bottom: 15px;

	width: 650px;

}

table#jobListingTitleOnly td.company {

	padding-left: 5px;

	padding-top: 2px;

	padding-bottom: 2px;

	color: #000000;

	font-size: 14px;

	font-weight: bolder;

	width: 650px;

}

table#jobListingTitleOnly td.jobTitle {

	padding-left: 5px;

	padding-top: 2px;

	padding-bottom: 2px;

	color: #660000;

	font-size: 11px;

	font-weight: normal;

	width: 650px;

}

table#jobListingTitleOnly td.jobTitle a:link,

table#jobListingTitleOnly td.jobTitle a:active,

table#jobListingTitleOnly td.jobTitle a:visited {

	color: #660000;

	text-decoration: none;

}

table#jobListingTitleOnly td.jobTitle a:hover {

	text-decoration: underline;

}

/* job event board css */



p.event1stpara {

	margin-top: 10px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #880000;

	margin-right: 50px;

	margin-left: 50px;

}



p.event1stpara:first-letter {

	font-size: 22px;

	color: #880000;

	font-weight: bold;

}

.event_tbl_header {

	padding-left: 5px;

	background-color: #85B54F;

	font-size: 12px;

	color: #000000;

}

.event_tbl_list {

	padding-left: 5px;

	background: #EFF5E9;

	font-size: 11px;

	color: #000000;

}

.event_tbl_list_dots {

	padding-left: 5px;

	background: #EFF5E9 url(http://twimgs.com/gamasutra/jobs/images/dots2.gif);

	font-size: 11px;

	color: #000000;

}

.nodot {

	background: #EFF5E9 url(http://twimgs.com/gamasutra/jobs/images/nodots.gif);

}

.top_5_event_jobs a:link, .top_5_event_jobs a:visited {

	font-family: verdana;	

	text-decoration: none;

}

.top_5_event_jobs a:hover {

	text-decoration: underline;

}



.top_5_event_jobs {

	margin-left: 0px;

	margin-bottom: 6px;

}

#selected_event {

	background-color: #880000;

	background-image: none;

	color: #ffffcc;

}

.category_links a:link, .category_links a:visited {

	color: #666666;

	font-weight: bold;

} 

.category_links {

	color: #666666;

	font-weight: bold;

} 





.category_links a:hover {

	color: #660000;

}

div.blog_index {

	padding: 5px; 

	font-weight: bold; 

	font-size: large; 

	word-spacing: 1ex; 

	

}

span.blog_index {

	padding: 5px; 

	font-weight: bold; 

	font-size: 10px; 

	word-spacing: 1ex; 

}

.bold {

	font-weight: bold;

}

span.gamacode {

	/*font-family: "courier new";*/

	display: block;

	padding-left: 20px;

	text-align: left;

}

.footer1 				{ 

						background: #000;

						text-align: left; 

						height:173px; 

						font-size:12px; 

						width:100%;

						clear:both;

						padding: 0 0 1em 0; 

						margin-top: 10px;

						color: #336633;

						}

.footer1 a 				{color:#fff;}

.footer1 a:hover 			{text-decoration: none;}

.footer1 img 				{padding: 0 40px 20px 0; border: none;}

.footerline				{height:3px; background-color:#ccc; margin:0;  padding:0;}



#footercontent 			{width: 998px; padding: 10px 0 0 0; margin: 0 auto;}

.footerhr 				{background-color:#000; border-bottom:1px solid #707070; height:1px;margin:10px 0 10px 0 ;clear:both; }

.footer_sectiontitle		{font-weight:bold; font-size:15px;color: #336633;}



#headerBox {

    padding:10px;

    background-color:#999999;

    text-align:center;

    display:none;

    font:bold 1.4em Verdana;

}

#headerCloseButton{

    float:right;

}

#sitetabs {
    background: url("http://www.gamasutra.com/images/sitetabs_bg.jpg") repeat-x scroll 0 0 transparent;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    text-align: center;
    white-space:nowrap;
}

#sitetabs a {
    background-color: #DDDDDD;
    color: #777777;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 4px 0 4px;
    padding: 6px;
    text-decoration: none;
}